back/node_modules
front/src/config/config.js
back/server/config/config.js
front/node_modules
back/helpers/sendEmail.js
back/helpers/reporte800.csv
back/helpers/reporte800.json
back/helpers/LOG.txt
back/helpers/report.csv
back/helpers/reportBD.csv
*.xlsx
*.csv
*.txt
